mat-card {
  margin: 1rem;
}

table {
  width: 100%;
}

mat-checkbox {
  margin-right: 1rem;
}

.mat-column-actions {
  width: 80px;
  text-align: right;
}

.mat-mdc-table{
  background-color: transparent;
}
